// Copie este arquivo para ios/Flutter/Secrets.xcconfig (arquivo ignorado pelo git)
// e preencha com os valores reais.

TIKTOK_APP_ID=7606728185673285650
TIKTOK_APP_SECRET=TTvQ0h8M1kp3yjoB26UODTKn3GVTlvQ0
